.navItem {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 0.75rem;
    opacity: 0.5;
    transition: all .3s ease;

    .icon {
        width: 1.5rem;
        height: auto;
    }

    div {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }

    &.active,
    &:hover {
        opacity: 1;
    }
}