.general-header {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1.5rem;

    .back {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        border: 2px solid #111827;

        .icon {
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    .content {
        flex: 1
    }
}