.textArea {
    display: flex;
    align-items: center;
    border-radius: 1.5rem;
    border: 2px solid #161616;

    &:focus-within,
    &.filled:focus-within {
        border-color: white;
    }

    textarea {
        flex: 1;
        outline: none;
        background: transparent;
        height: 100%;
        padding: 1.25rem;
        resize: none;
        border: none;
        color: #fff;
        font-size: 1rem;
        font-family: 'Poppins', 'sans-serif';
    }
}